<img src="/images/logga.png" alt="">

<div id="points"></div>
<div id="totalPoints"></div>
<div class="image">
    <canvas class="imagecanvas"/>
</div>

<div id="inputContainer">
    Vi söker förnamnet på personen bakom bilden<br>
    <input class="js-input" type="text" size="20">
    <input class="btn btn-primary btn-sm js-validate" type="button" value="Gissa!">
</div>


<div class="answer"></div>
<input class="btn btn-primary btn-sm js-next" type="button" value="Nästa bild">


