<img src="/images/logga.png">
<br>
<canvas id="image"></canvas>
<br>
Vi söker förnamnet på personen bakom bilden
<br>
<input class="js-input" type="search" size="40">
<input class="js-validate" type="button" value="Gissa!">
<br>


<div class="answer"></div>

