<img src="/images/logga.png">
<br>
<div id="points"></div>
<div id="totalPoints"></div>
<canvas id="image"></canvas>
<br>

<div id="inputContainer">
    Vi söker förnamnet på personen bakom bilden<br>
    <input class="js-input" type="search" size="40">
    <input class="js-validate" type="button" value="Gissa!">
</div>


<div class="answer"></div>
<input class="js-next" type="button" value="Nästa bild">


