<img src="/images/logga.png">
<p>Det här är spelet där du gissar vem som gömmer sig bakom kikhålet.</p>
<div class="container">
    <input type="button" class="btn btn-primary btn-sm js-toggle" value="Spela"><br>
    <input type="button" class="btn btn-default btn-sm" value="Utmana" disabled="disabled"><br>
    <input type="button" class="btn btn-default btn-sm" value="Highscore" disabled="disabled"><br>
    <input type="button" class="btn btn-default btn-sm" value="Logga in" disabled="disabled">
</div>

