<img src="/images/logga.png">
<div class="">Det här är spelet där du gissar vilken kändis som gömmer sig...</div>

<input type="button" class="js-toggle" value="Spela"><br>
<input type="button" class="" disabled="disabled" value="Utmana"><br>
<input type="button" class="" value="Highscore" disabled="disabled"><br>
<input type="button" class="" value="Logga in" disabled="disabled">


